body,

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: rgb(1, 6, 6);
  background-image: url(./assets/istockphoto-1465352994-170667a.webp);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#gameArea {
  width: 50vw;
  height: 80vh;
  background-image: url(./assets/flappybirdbg.png);
  position: relative;
  overflow: hidden;
  border: 5px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#bird {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 25px;
}

.obstacle {
  width: 50px;
  background-size: contain;
  background-repeat:no-repeat;
  background-image: url(./assets/bottompipe.png);
  position: absolute;
  right: -50px; /* Initial position outside the game area */
}

#score,
#startBtn,
#restartBtn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #008b8b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#restartBtn {
  /* display: none; */
}
/* 
@media screen and (max-width: 992px){
  #gameArea {
    width: 40vw;
    height: 80vh;
  }
} */